//Подключение миксинов шрифтов
@import 'moduls/mixins/_normalize';
@import 'moduls/mixins/_font-face';
//@import 'moduls/mixins/_fonts'; не включать!!! Шрифты только переносить.
@import 'moduls/mixins/_container';
//@import 'moduls/mixins/_adaptiv-fonts';

/*-Подключение шрифтов-*/
// Перенести шрифты из файла:#src/scss/moduls/mixins/_fonts.scss'
@include font-face('Barlow', 'Barlow-Bold', 700);
//font-family: 'Barlow', sans-serif;
@include font-face('Barlow', 'Barlow-Regular', 400);
//font-family: 'Barlow', sans-serif;


//Переменные
$accent: #2692ff; //Цвет голубой.
$text: #9c9c9c; //Цвет серый.
$maxWidth: 1170; //Максимальная ширина контента для мексина adaptiv-font.
$svg: #2f3035;

//подключаем vendors
@import '../../node_modules/swiper/swiper-bundle';

//Пример внесения миксина адаптивного шрифта и контейнера
// .box p {
//     @include adaptiv-font(30, 20);
//     font-size: 30px;
//     @include container ($maxWidth)
//     color: $blue;
// }

/*- Стили -*/
/*- Глобальные стили-*/
body {
	font-family: 'SFProDisplay', sans-serif;
	font-size: 20px;
	color: $text;
	display: flex;
	flex-direction: column;
}

.container {
	@include container($maxWidth);
}


/*- Header -*/
@import 'moduls/01_headers';
/*- Content -*/

/*- Footer -*/
@import 'moduls/15_footer';
